*{margin: 0; padding: 0}
body{background: url(https://res.cloudinary.com/greenprinty/image/upload/v1612714707/samples/people/bg_zorugg.jpg);background-size: cover;width: 100vw;height: 100vh;}
.contain{display: flex; max-width: 1000px;height: 200px;flex-direction: row;margin: 0 auto;justify-content: center;padding: 30px;
position: relative;animation: mo 4s linear infinite;animation-direction: alternate}
@keyframes mo{
    0%{bottom: 1%}
        25%{bottom: 2%}
        50%{bottom: 3%}
        60%{top: 3%}
        70%{top: 2%}
        80%{top: -1%}
        90%{bottom: 1%}
        100%{bottom: 3%}


}
#patra{width:122px;height: 249px;border-radius:22px;background: url(pag.png);padding-left: 50px;
padding-top: 10px;padding-bottom: 10px;animation: pag 3s linear infinite}
@keyframes pag{
    0%{background: url(pat.png)}
    50%{background: url(pat.png)}
    100%{background: url(pag.png)}
}
#patri{width:122px;height: 249px;border-radius:22px ;background: url(patb.png);padding-right: 50px;
padding-top: 10px;padding-bottom: 10px;animation: pat 3s linear infinite}
@keyframes pat{
    0%{background: url(patb.png)}
    50%{background: url(pat.png)}
    100%{background: url(pat.png)}
}
.tainer{width: 300px;height: 430px;display: inline-block;overflow: hidden;}
    .upper{height:150px;border-radius: 82px 8px 0px 0px;background-image: url(up.jpg);outline: none; }
    .img-upper{background: white;width: 120px;height: 120px;border-radius: 10%;padding: 8px;transform: translate(85px,40px)
    }
    .img-upper img{width: 120px;height: 120px;border-radius: 10%;}
    .lower{height:280px;border-radius: 0px 0px 8px 8px;outline: none;padding: 20px;padding-top: 40px;
    text-align: center;overflow: hidden}
    .lower h3{box-sizing: border-box;line-height: .6;font-weight: bold;color: #1A4AFE;padding: 15px}
    .lower p{font-size: 16px;color: #595959;margin-top: 20px;font-family: 'Kalpurush', sans-serif;}

    .tainer1{width: 300px;height: 430px;display: inline-block;overflow: hidden;}
    .upper1{height:150px;border-radius: 82px 8px 0px 0px;background-image: url(up1.jpg);outline: none; }
    .img-upper1{background: white;width: 120px;height: 120px;border-radius: 10%;padding: 8px;transform: translate(85px,40px)
    }
    .img-upper1 img{width: 120px;height: 120px;border-radius: 10%;}
    .lower1{height:280px;border-radius: 0px 0px 8px 8px;outline: none;padding: 20px;padding-top: 40px;
    text-align: center;}
    .lower1 h3{box-sizing: border-box;line-height: .6;font-weight: bold;margin-top: 10px;color: #FF2264;padding: 15px}
    .lower1 p{font-size: 16px;color: #595959;margin-top: 20px;font-family: 'Kalpurush', sans-serif;}
     .party{max-width: 235px;position: relative;animation: mov 5s linear infinite;
    animation-direction: alternate-reverse;display: block;margin: 15px auto}
    .party img{width: 100%;border-radius: 30%;opacity: 0.7}
    @keyframes mov{
        0%{left: 5%}
        25%{left: 15%;transform: rotateY(-25deg)}
        50%{left: 20%;transform: rotateY(180deg)}
        60%{right: 15%}
        70%{right: 10%;}
        80%{right: -5%;transform: rotateY(35deg)}
        90%{left: 1%}
        100%{left: 5%;}
    }
    h2{text-align: center;font-size: 27px;color: #FDC400;font-family: 'Kalpurush', sans-serif;width: 190px;height: 33px;border-radius: 43px;
    border: 1.5px solid white;display: block;margin: 15px auto;animation: bor 3s linear infinite}
    @keyframes bor{
        0%{border: 1.5px solid red}
        50%{border: 1px solid greenyellow}
        100%{border: 1.5px solid red}
    }
    .sucu{background: rgba(0,0,0,0.3);border-radius: 26px}
    .subh{text-align: center;font-size: 24px;font-weight: bold;margin-bottom: 10px;height: 28px;background: url(suv.gif);background-size: cover;color: white;
    font-family: 'Kalpurush', sans-serif;}
    .nai{text-align: center;color: #FDC400;font-family: 'Kalpurush', sans-serif;font-size: 20px;}
    .container{ 
left: 0px;
right: 0px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.countdown{    
    display: flex;
        margin-bottom: 30px;    
}

.countdown div{
    position: relative;
width: 80px;
height: 35px;
line-height: 35px;
text-align: center;
background: url(time.gif);
border-radius: 50px;
color: white;
margin: 0 5px;
font-size: 2em;
font-weight: 250;   
}

.countdown div:before{
    content: '';
position: absolute;
bottom: -26px;
left: 0;
width: 78px;
height: 25px;
background: #D9FE92;
color: black;
font-weight: bold;
font-size: 0.50em;
line-height: 24px;
font-weight: 300;
}

.countdown #day:before{
    content: 'দিন';
}

.countdown #hour:before{
    content: 'ঘন্টা';
}

.countdown #minute:before{
    content: 'মিনিট';
}

.countdown #second:before{
    content: 'সেকেন্ড';
}
    .prit{text-align: center;color:white;font-size: 24px;font-weight: bold;font-family: 'Kalpurush', sans-serif;
    width: 170px;height:28px;margin: 10px auto;border-radius: 23px; }
    .eg{text-align: center;color:#FDC400;font-family: 'Kalpurush', sans-serif;font-size: 20px;margin-bottom: 7px}
    .stha{text-align: center;color:white;font-size: 24px;font-weight: bold;font-family: 'Kalpurush', sans-serif;
    width: 120px;height:28px;margin: 10px auto;border-radius: 23px;}
    .cu{text-align: center;color:#FDC400;font-family: 'Kalpurush', sans-serif;font-size: 20px;margin-bottom: 20px;}
    .sri{text-align: center;font-family: 'Kalpurush', sans-serif;font-size: 24px;font-weight: bold;padding: 20px;} 
    .proja{text-align: center;font-family: 'Kalpurush', sans-serif;font-size: 27px;width: 280px;padding: 2px;border-radius: 43px;
    border: 1.5px solid white;display: block;margin: 50px auto;color: #FDC400;animation: bor 3s linear infinite}  
    #fontcss{margin-left: 10px;margin-top: 15px;margin-bottom: 20px;color: #FDC400;font-family: 'Kalpurush', sans-serif;font-size: 22px;}
    .bih{font-family: 'Kalpurush', sans-serif;text-align: justify;text-indent: 40px;margin-left: 10px;margin-right: 10px;
    margin-bottom: 40px;color: #FDC400;font-size: 22px;animation: skew 3s infinite;  transform: skew(20deg);  animation-direction: alternate;}
    @keyframes skew {
  0% {
    transform: skewX(2deg);
  }
  100% {
    transform: skewX(-2deg);
  }
}
    .quni{display: flex;max-width: 100%;justify-content: space-between}
    .quni img {max-width: 60%;}
    .nibe{text-align: right;margin-right: 10px;color: #FDC400;font-family: 'Kalpurush', sans-serif;font-size: 22px;max-width: 40%}
    footer{
    width: 100%;
    height: 100px;
    background: grey;
    left: 0;
      right: 0;
      text-align: center;
        }

  footer p{
      text-align: center;
      padding: 10px;
      color: white;
        }  
        a button{width: 100px;height: 30px;border-radius: 16px;background: #03B807;color: white;letter-spacing: 1.5px;font-size: 17px;border: none;}
